{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}Open Digital Library
    </title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    
    <header>
        {% include 'components/navbar.html' %}
        
        {% block jambotron %}
            
        {% endblock %}
            
    </header>

    <main>
        {% block main %}
            
        {% endblock %}
    </main>
    
    <footer>
        
        {% block footer %}
            
        {% endblock %}
            
    </footer>
        
    <script
        src="{% static 'js/htmx.min.js' %}"
        type="text/javascript"></script>
    <script
        src="{% static 'js/flowbite.min.js' %}"
        type="text/javascript"></script>

    <script
        src="{% static 'js/base.js' %}"
        type="text/javascript"></script>
</body>
</html>